*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.choice:hover {
    background-color: #081b31;
    cursor: pointer;
} 
img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,
#computer-score{
    font-size: 4rem;
}
.msg-contain{
    margin-top: 4rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}